:root, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 12px;
  display: flex;

}

.code-wrapper {
  position: relative;
  margin: 0;
  flex:auto;
  overflow: hidden;
}
.code{
  height: 100%;
  margin: 0;
  overflow-y: scroll;
}
/*音乐控制*/
#bgmButton {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 35px;
  height: 35px;
  animation: rotate 2s linear infinite paused;

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*速度控制按钮*/
.btn-wrapper{
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: column;
  height: 120px;
  top: 62px;
}
button:nth-child(n){
  margin-top:10px ;
}
button{
  border: none;
  border-radius: 4px;
  height: 30px;
  width: 80px;
  color: white;
}
button:focus{
  outline: none;
  box-shadow: 0 0 3px 3px #ffffff;
}
.slower-btn{
  background-color: #007bff;
}
.normal-btn{
  background-color: #29a645;

}
.faster-btn{
  background-color:#ffc107;

}

/*署名*/
.name{
  visibility: hidden;
  position: absolute;
  bottom: 20px;
}


/*修改默认高亮*/
.comment{
  color: black;
}

.selector {
  color: black;
}

.punctuation {
  color: black;
}

.property {
  color: black;
}

.function {
  color: black;
}

*, ::after, ::before {
  box-sizing: border-box;
  transition-property: font-size, padding,visibility;
  transition-duration: 1.5s;
}

@media screen and (max-width: 1080px) {
  body {
    flex-direction: column;
  }
}


.pikachu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pikachu-wrapper {
  flex: none;
  flex-basis: 50%;
  background-color: pink;
}
.pikachu{
  position: relative;
}
.pikachu:hover .pikachu-mouth-open {
  height: 15px;
}

.pikachu:hover .pikachu-ear-right {
  animation: shakeEarRight .2s linear;
}

.pikachu:hover .pikachu-ear-left {
  animation: shakeEarLeft .2s linear;
}

.pikachu:hover .pikachu-eye-right {
  background: none;
  border-top: 6px solid #000;
  top: 35px;
  transform: scaleY(.5);
}

.pikachu:hover .pikachu-eye-right::before,
.pikachu:hover .pikachu-eye-right::after {
  display: none;
}


.pikachu-mouth-open {
  position: absolute;
  top: 65px;
  left: calc(50% - 10px);
  width: 20px;
  height: 0;
  border-radius: 0 0 50% 50%;
  background-color: #ea2a4d;
}

.pikachu-body-upper {
  animation: idle 1.5s .2s infinite;
}


.pikachu-face,
.pikachu-chin,
.pikachu-torso,
.pikachu-ear-right,
.pikachu-ear-left,
.pikachu-arm-right,
.pikachu-arm-left,
.pikachu-foot-right,
.pikachu-foot-left,
.pikachu-tail-part {
  background-color: #f4ce42;
}

@keyframes idle {
  0% {
    transform: translateY(1px);
  }

  50% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(1px);
  }
}

@keyframes shakeEarRight {
  0% {
    transform: rotate(45deg) scaleY(4);
  }

  50% {
    transform: rotate(40deg) scaleY(4);
  }

  100% {
    transform: rotate(45deg) scaleY(4);
  }
}

@keyframes shakeEarLeft {
  0% {
    transform: rotate(-45deg) scaleY(4);
  }

  50% {
    transform: rotate(-40deg) scaleY(4);
  }

  100% {
    transform: rotate(-45deg) scaleY(4);
  }
}

@keyframes shakeTail {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


@keyframes pokeballRotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}




/*


*/


